<?xml version="1.0"?>

<!-- Copyright (c) 2007  Dustin Sallings (dustin@spy.net) -->

<!DOCTYPE web-app PUBLIC
	'-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
	'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
	<listener>
		<listener-class>net.spy.diggwatch.ContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>commentRss</servlet-name>
		<servlet-class>net.spy.diggwatch.CommentRSSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>commentRss</servlet-name>
		<url-pattern>/rss/comments/*</url-pattern>
	</servlet-mapping>
</web-app>
