<?xml version="1.0"?>

<!-- Copyright (c) 2007  Dustin Sallings (dustin@spy.net) -->

<!DOCTYPE web-app PUBLIC
	'-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
	'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
	<listener>
		<listener-class>net.spy.diggwatch.ContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>userCommentRss</servlet-name>
		<servlet-class>net.spy.diggwatch.UserCommentRSSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>domainCommentRss</servlet-name>
		<servlet-class>net.spy.diggwatch.DomainCommentRSSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>userCommentDisplay</servlet-name>
		<servlet-class>net.spy.diggwatch.UserCommentsDisplayServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>domainCommentDisplay</servlet-name>
		<servlet-class>net.spy.diggwatch.DomainCommentsDisplayServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>userRedir</servlet-name>
		<servlet-class>net.spy.diggwatch.UserRedirectServlet</servlet-class>
		<init-param>
			<param-name>destination</param-name>
			<param-value>/diggwatch/comments/</param-value>
		</init-param>
		<init-param>
			<param-name>validName</param-name>
			<param-value>username</param-value>
		</init-param>
		<init-param>
			<param-name>noSuch</param-name>
			<param-value>No such user</param-value>
		</init-param>
		<init-param>
			<param-name>dError</param-name>
			<param-value>/diggwatch/?userError=</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>domainRedir</servlet-name>
		<servlet-class>net.spy.diggwatch.RedirectServlet</servlet-class>
		<init-param>
			<param-name>destination</param-name>
			<param-value>/diggwatch/domainComments/</param-value>
		</init-param>
		<init-param>
			<param-name>validName</param-name>
			<param-value>domain name</param-value>
		</init-param>
		<init-param>
			<param-name>noSuch</param-name>
			<param-value>Nothing found for the domain</param-value>
		</init-param>
		<init-param>
			<param-name>dError</param-name>
			<param-value>/diggwatch/?domainError=</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>icon</servlet-name>
		<servlet-class>net.spy.diggwatch.IconServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>userCommentRss</servlet-name>
		<url-pattern>/rss/comments/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>domainCommentRss</servlet-name>
		<url-pattern>/rss/domainComments/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userCommentDisplay</servlet-name>
		<url-pattern>/comments/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>domainCommentDisplay</servlet-name>
		<url-pattern>/domainComments/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userRedir</servlet-name>
		<url-pattern>/ur</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>domainRedir</servlet-name>
		<url-pattern>/dr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>icon</servlet-name>
		<url-pattern>/icon/*</url-pattern>
	</servlet-mapping>
</web-app>
