body {
  font-family: verdana;
  color: #555;
}

img {
	border: none;
}

p.descr {
	margin-top: 2em;
	margin-left: 5em;
	margin-right: 5em;
}

p.hint {
	font-size: small;
	color: #ccc;
}

p.error {
	color: red;
}

form {
	margin-top: 2em;
	margin-left: 5em;
}

h1 {
	font-size: x-large;
}

h2 {
  font-size: medium;
  color: green;
}

#index h1 {
	font-size: medium;
}

p.comment {
  margin: 2em;
}

p.commentfoot {
  font-size: small;
  padding-bottom: 1em;
  border-bottom: solid 1px green;
}

p.storySub {
	font-size: x-small;
}

#footer {
	border-top: solid #ccc 1px;
	color: #ccc;
	font-size: xx-small;
	text-align: right;
}

#footer a, #footer a:visited {
	color: #ccc;
}
